/* Custom Body Style to Test CSS File Loading */
body {
    background-color: #f0f0f0; /* Light gray background */
}

/* ------------ Custom Navbar Styles -------------------- */
.navbar-custom {
    background-color: #171f1f; /* Custom background color */
}

.navbar-custom .navbar-brand,
.navbar-custom .nav-link {
    color: #59BE85 !important; /* Custom text color */
}

.navbar-custom .nav-link:hover {
    color:#59BE85; /* Custom hover text color */
}

/* Additional customizations */
.navbar-custom .navbar-toggler {
    border-color: #171f1f; /* Custom border color for the toggler */
}
/* ------------ END Custom Navbar Styles -------------------- */