/* ------------ Custom Navbar Styles -------------------- */
.navbar-custom {
    background-color: #171f1f; /* Custom background color */
}

.navbar-custom .navbar-brand,
.navbar-custom .nav-link {
    color: #09803d !important; /* Custom text color */
}

.navbar-custom .nav-link:hover {
    color: #09803d; /* Custom hover text color */
}

/* Additional customizations */
.navbar-custom .navbar-toggler {
    border-color: #171f1f; /* Custom border color for the toggler */
}
/* ------------ END Custom Navbar Styles -------------------- */